:root {
	--grey: #212121;
	--black: #181818;
	--white: #f3f3f3;
}

html {
	font-size: 16px;
}

body {
	background: var(--black);
	font-family: 'Open Sans', sans-serif;
	height: 100%;
}

main {
	height: 100vh;
	display: flex;
	flex-flow: column;
	overflow: hidden;
}

section {
	align-self: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-grow: 1;
}

#button-start {
	margin-bottom: 10rem;
}

.wrapper {
	width: 800px;
	margin: 30px auto;
	color: var(--white);
	text-align: center;
	vertical-align: center;
}

#navbar-title {
	font-size: 3rem;
	font-weight: bold;
	color: var(--white);
}

.navbar {
	background-color: var(--grey);
	padding: 1rem 0;
}

.timerText {
	font-size: 10rem;
	font-family: 'Azeret Mono', monospace;
}

#extend-break-button,
#settings-button,
#log-button,
#about-button {
	border: 0.2rem solid var(--white);
	color: var(--white);
	border-radius: 50%;
	padding: 0.7rem;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
#notification-time {
	box-shadow: none !important;
}

.timer-buttons button {
	color: var(--white);
	font-size: 2.5rem;
	letter-spacing: 0.04rem;
	padding: 1rem 2rem;
	margin: 1rem;
	cursor: pointer;
	border-radius: 0.5rem;
	border: 0.3rem solid var(--white);
	background: none;
	position: relative;
	overflow: hidden;
	box-shadow: 0 3px 0 0 var(--black);
	transition: all 0.1s;
}

.timer-buttons button:active,
#settings-button:active {
	top: 3px;
	box-shadow: none;
}

.timer-buttons button:hover,
#extend-break-button:hover,
#settings-button:hover,
#log-button:hover,
#about-button:hover {
	border-color: var(--black) !important;
	background: var(--white) !important;
	color: var(--black) !important;
}

.close-button {
	outline: none;
	border: none;
	background-color: white;
}

.icon-hidden {
	display: none;
}

.modal-invisible {
	visibility: hidden;
}

.extend-break {
	height: 50%;
	width: 30%;
	margin: 0.5rem 0.3rem;
}

.modal-header button:focus,
.form-control:focus {
	box-shadow: none;
}

.modal,
.form-control {
	font-size: 1.2rem;
	letter-spacing: 0.1rem;
}

.modal-title {
	font-size: 2rem;
	font-weight: bold;
}

input[type='checkbox'] {
	height: 1.5rem;
	padding-left: 3rem;
	margin-left: 2rem;
	position: relative;
	left: 11px;
}

input[type='checkbox']:hover {
	box-shadow: none;
	cursor: pointer;
}

#logTimings {
	font-size: 1.5rem;
}

@media (max-width: 992px) {
	ul.navbar-nav {
		padding: 1rem 0;
	}
}

@media (max-width: 576px) {
	html {
		font-size: 10px;
	}

	ul.navbar-nav {
		padding: 2rem 0;
	}

	.modal {
		font-size: 1.3rem;
	}

	.modal-title {
		font-size: 1.7rem;
	}

	#extend-break-button,
	#settings-button,
	#log-button,
	#about-button {
		padding: 1.5rem;
	}

	.navbar {
		padding: 2.5rem 0;
	}
}
