:root {
	--grey: #212121;
	--black: #181818;
	--white: #f3f3f3;
}

body {
	background: var(--black);
	font-family: 'Azeret Mono', monospace;
	height: 100%;
}

main {
	height: 100vh;
	display: flex;
	flex-flow: column;
	overflow: hidden;
}

section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-grow: 1;
}

#button-start {
	margin-bottom: 10rem;
}

.wrapper {
	width: 800px;
	margin: 30px auto;
	color: var(--white);
	text-align: center;
	vertical-align: center;
}

#navbar-title {
	font-size: 3rem;
	color: var(--white);
}

.navbar {
	background-color: var(--grey);
}

.timerText {
	font-size: 10rem;
}

#settings-button,
#log-button,
#about-button {
	border: 0.2rem solid var(--white);
	color: var(--white);
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
#notification-time {
	box-shadow: none !important;
}

.timer-buttons button {
	color: var(--white);
	font-size: 2.5rem;
	letter-spacing: 0.04rem;
	padding: 1rem 2rem;
	margin: 1rem;
	cursor: pointer;
	border-radius: 0.4rem;
	border: 0.3rem solid var(--white);
	background: none;
	position: relative;
	overflow: hidden;
	box-shadow: 0 3px 0 0 var(--black);
	transition: all 0.25s;
}

.timer-buttons button:active,
#settings-button:active {
	top: 3px;
	box-shadow: none;
}

.timer-buttons button:hover,
#settings-button:hover,
#log-button:hover,
#about-button:hover {
	border-color: var(--black) !important;
	background: var(--white) !important;
	color: var(--black) !important;
}

.close-button {
	outline: none;
	border: none;
	background-color: white;
}

.img-hidden {
	display: none;
}
